---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

---

// ajout balise des pages
<a href="/">Accueil</a>
<a href="/work">Mes Projets</a>
<a href="/about">À propos</a>
<a href="/404">404</a>

<BaseLayout title="Not Found" description="404 Error — Cette page n'existe pas">
	<Hero title="Page Not Found" tagline="Not found" />
</BaseLayout>
