---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Jérôme CONTON" description="À propos de Jérôme conton">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi-même et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jérôme Conton qui travaille"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Après avoir passé 16 ans dans la restauration, de chef de rang à assistant de direction puis commercial 
						pour les restaurants et enfin restauration aérienne sur Roissy, j'ai décidé de créer une entreprise de 
						transport de personnes.
					</p>
					<p>
						Au cours de mes études, j'ai acquis des compétences en développement web, notamment une compréhension des technologies 
						telles que HTML, CSS, JavaScript, PostgrSQL et bien d'autres encore.
						Je suis constamment en quête d'amélioration de mes compétences en développement web.

					</p>
					<p>
						Je suis persuadé que ma passion pour le développement web, conjuguée à mes compétences et à mon expérience, me permettent 
						de répondre pleinement à vos besoins en matière de développement d'applications web de qualité.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>. Développeur Web Et Web Mobile, Niveau 5 Bac +2</p><br>
					<p>Autres Diplômes :</p>
					<p>. Certification DREAL : Attestation De Capacité Professionnelle De Transport</p>
					<p>. BTS Hôtellerie/Restauration</p>
					<p>. BTH Hôtellerie/Restauration</p>
					<p>. Cap-Bep Cuisine Et Cap-Bep Salle</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curiosité, Autonomie, Organisation, Communication, Esprit d'équipe, Flexibilité</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
